
<button class="btn__comprarcarrito" onclick="CARRITO_CONTROLLER.cerrar()">Salir</button>
{{#if carrito.length}}
<button class="btn__comprarcarrito" onclick="CARRITO_CONTROLLER.EnviarCarrito()">Comprar</button>
        {{!-- <table>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Foto</th>
                    <th>Cantidad</th>
                    <th>Envio</th>
                    <th>Accion</th>
                </tr>
            {{#each carrito}}
                <tr>
                    <td>{{nombre}}</td>
                    <td>${{precio}}</td>
                    <td> 
                        <img src="{{foto}}" width="50" alt="foto de {{nombre}}" >
                    </td>
                    <td>x {{cantidad}}</td>
                    {{#if envio}}
                        <td>Si</td>
                        {{else}}
                            <td>No</td>
                    {{/if}}
                    <td>
                        <button class="button--carrito" onclick="CARRITO_CONTROLLER.borrarProducto('{{id}}')">Borrar</button>
                    </td>
                </tr>
            {{/each}}
        </table> --}}

        <h1>Productos:</h1> 
        {{#each carrito}}
            <div class="section_carrito_border">
                <div class="section_carrito_description">
                    <p><b>Nombre</b>: {{nombre}}</p>
                    <p><b>Precio</b>: ${{precio}}</p>   
                    <p><b>Cantidad</b>: x{{cantidad}}</p>  
                    <p><b>Envio GRATIS</b>:{{#if envio}}<p>Si</p>{{else}} <p>No</p></p>{{/if}}  
                </div>
                <img src="{{foto}}" width="50" alt="foto de {{nombre}}" class="section_carrito_photo">
            </div>
            <button class="button--carrito" onclick="CARRITO_CONTROLLER.borrarProducto('{{id}}')">Borrar</button> 
            {{/each}}
    {{else}}
        <h2>El carrito esta vacio </h2>
{{/if}}